<?xml version="1.0"?>
<launch>
	<!-- JOYSTICK DRIVER-->
	<node pkg="joy" type="joy_node" name="joystick">
		<param name="dev" value="/dev/input/js0" />
		<param name="autorepeat_rate" value="0.05" />
	</node>
	<!-- ROBOT REMOTE CONTROL-->
	<node pkg="picobot_remote_control" type="picobot_remote_control" name="picobot_remote_control" output="screen">
		<!-- <param name="scale_angular" value="1.5"/> -->
		<!-- <param name="scale_linear" value="0.5"/> -->
	</node>

  <!--  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="1 picobot_lidar rplidar.launch" name="timed_roslaunch" output="screen" /> -->
  <!--  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="1 picobot_imu picobot_imu.launch" name="timed_roslaunch2" output="screen" /> -->

<!-- Teleop node-->
	<!--<node pkg="teleop_twist_joy" type="teleop_node" name="teleop" output="screen">
		 <param name="scale_angular" value="4"/>
	</node>-->
</launch>



