<!--
  Used for visualising rplidar in action.

  It requires rplidar.launch.
 -->
<launch>
  <include file="$(find picobot_lidar)/launch/rplidar.launch" />
  <include file="$(find picobot_lidar)/launch/hectormapping.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find picobot_lidar)/rviz/slam.rviz" />
</launch>
